.cart-summary {
  align-self: flex-end;
}

.order-total-title {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
}

.total-amount {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  margin: 5px;
}

.total-in-cart-count {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin: 5px;
}

.Checkout-btn {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  border-radius: 2px;
  border: none;
  margin: 10px 0px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  outline: none;
  cursor: pointer;
}
